:root {
  --main-nav-height: 56px;

  --sidebar-collapsed-w: 80px;
  --sidebar-expanded-w: 200px;
}

/*
################
#  GENERALS    # 
################
*/

/*
################
#  SECTIONS    # 
################
*/

/* 
* MAIN HEADER 
*/
#main-header .mobile-logo {
  height: 40px;
}

#main-header form {
  flex-grow: 1;
}

#main-header .fa-bell {
  color: #ff8f00;
}

#main-header .navbar-toggler {
  border: none;
}

#main-header .dropdown-toggle::after {
  display: none;
}

#main-header .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu[data-bs-popper] {
  top: 85%;
  left: -155px;
}

/* 
* SIDEBAR
*/
.sidebar__collapsed {
  width: var(--sidebar-collapsed-w);
  background-color: #051e34;
  height: calc(100vh - var(--main-nav-height));
  background-image: url(../img/sidebar-bg.png);
}

.sidebar__expanded {
  width: var(--sidebar-expanded-w);
  background-color: #051e34;
  height: calc(100vh - var(--main-nav-height));
  background-image: url(../img/sidebar-bg.png);

  display: none;
}

.vertical-nav {
  height: 100%;
}

.vertical-nav i {
  width: 25px;
  margin-right: 15px;
}

/* 
* MAIN CONTENT 
*/
#main-content {
  width: calc(100% - var(--sidebar-collapsed-w));
  background-color: #f8f9fa;
}

.main-content__header {
  background-color: #1b72e8;
}

.main-content__header .add-student {
  width: 40px;
  aspect-ratio: 1;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 15px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content__header .badge.text-bg_ms {
  background-color: #165bba;
}

table img {
  width: 25px;
}

.table i {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

/*
################
#  RESPONSIVE  # 
################
*/

@media screen and (min-width: 992px) {
  .sidebar__collapsed {
    display: none;
  }

  .sidebar__expanded {
    display: flex;
  }
}
