:root {
  --main-nav-height: 56px;

  --sidebar-collapsed-w: 80px;
  --sidebar-expanded-w: 200px;
}

/*
################
#  GENERALS    # 
################
*/

/*
################
#  SECTIONS    # 
################
*/

/** MAIN HEADER **/
#main-header form {
  flex-grow: 1;
}

/** SIDEBAR **/
.sidebar__collapsed {
  width: var(--sidebar-collapsed-w);
  background-color: #051e34;
  height: calc(100vh - var(--main-nav-height));
}

.sidebar__expanded {
  width: var(--sidebar-expanded-w);
  background-color: #051e34;
  height: calc(100vh - var(--main-nav-height));

  display: none;
}

/** MAIN CONTENT **/
#main-content {
  width: calc(100% - var(--sidebar-collapsed-w));
  background-color: #f8f9fa;
}

/*
################
#  RESPONSIVE  # 
################
*/

@media screen and (min-width: 992px) {
  .sidebar__collapsed {
    display: none;
  }

  .sidebar__expanded {
    display: flex;
  }
}
